# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE и редактор
.vscode/
.idea/
*.swp
*.swo

# История и логи
history.json  # Если не хотите хранить историю в репозитории (обычно её не хранят)
